* {
  background:     #f8fbf8;
  background-alt: #f8fbf8;
  foreground:     #333333;
  selected:       #21bdff;
  selected-fg:    #000000;
  active:         #e0ffff;
  urgent:         #cd0000;
  border-color:   #a9a9a9;
}
