* {
  font-family: "VictorMono Nerd Font", monospace;
  font-size: 13px;
  font-weight: 600;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #bac2de;
}

window#waybar {
  background-color: transparent;
  color: #bac2de;
  padding: 0 5px;
  transition: background-color 0.5s;
}

/* LEFT */

#custom-media {
  margin: 3px 0 3px 10px;
  padding: 4px 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #1e1e2e;
}

/* CENTER */

#custom-wallpaper{
  margin: 3px 0;
  padding: 4px 8px;
  background: #1e1e2e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #bac2de;
}

#clock {
  margin: 3px 0;
  padding: 4px 8px;
  background: #1e1e2e;
  color: #bac2de;
}

#pulseaudio {
  margin: 3px 3px 3px 0;
  padding: 4px 6px 4px 4px;
  background: #1e1e2e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #bac2de;
}

/* RIGHT */

#custom-keyboard {
  margin: 3px 0 3px 10px;
  padding: 4px 8px;
  background: #1e1e2e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#network {
  margin: 3px 0;
  padding: 4px 8px;
  background: #1e1e2e;
}

#battery {
  margin: 3px 10px 3px 0;
  padding: 4px 8px;
  background: #1e1e2e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon {
  margin-right: 6px;
}